---

- name: Create a home for Helga.
  sudo: yes
  file: path={{ helga_home }}
        owner={{ ansible_ssh_user }}
        group={{ ansible_ssh_user }}
        state=directory
        recurse=yes

- name: Retrieve software requirements.
  sudo: yes
  apt: name={{ item }} state=present
  with_items: helga_system_packages

- include: enable_ssl.yml
  when: helga_use_ssl

- name: Create a virtualenv with latest pip.
  pip: name=pip virtualenv={{ helga_home }} extra_args='--upgrade'

- name: Conceive the Helga.
  pip: name=helga virtualenv={{ helga_home }} version={{ helga_version }}

- name: Helga enhancements.
  pip: name={{ item.src }} state=present virtualenv={{ helga_home }}
  with_items: helga_external_plugins
  notify: Wake up, Helga...

- name: Create settings directory
  file: path={{ helga_settings_path }}
        state=directory

- name: Install base personality.
  template: src=custom_settings.j2
            dest={{ helga_settings_path }}/00_base_settings.py

- name: Install personality customizations (files).
  copy: src={{ item }}
        dest={{ helga_settings_path }}
  with_fileglob:
    - files/helga/settings.d/*

- name: Custom settings, ASSEMBLE!
  assemble: src={{ helga_settings_path }}/
            dest={{ helga_home }}/bin/custom_settings.py
  notify: Wake up, Helga...

- include: supervisord.yml
