---

- name: Create a home for Helga.
  sudo: yes
  file: path=/opt/helga owner={{ ansible_ssh_user }} group={{ ansible_ssh_user }} state=directory recurse=yes

- name: Retrieve software requirements.
  sudo: yes
  apt: name={{ item }} state=present
  with_items:
    - mongodb-server
    - libcurl4-openssl-dev
    - libffi-dev

- name: Conceive the Helga.
  pip: name=helga virtualenv=/opt/helga version=1.5.1

- name: Helga enhancements.
  pip: name={{ item.src }} state=present virtualenv=/opt/helga
  with_items: helga_external_plugins
  notify: Wake up, Helga...

- name: Install custom personality.
  template: src=custom_settings.j2 dest=/opt/helga/bin/custom_settings.py
  notify: Wake up, Helga...

- include: supervisord.yml
