[program:helga]
command={{ helga_home }}/bin/helga
stopsignal=INT
stopwaitsecs=16
environment=HELGA_SETTINGS=custom_settings
directory={{ helga_home }}/bin
stdout_logfile=/var/log/supervisor/helga-stdout.log
stderr_logfile=/var/log/supervisor/helga-stderr.log
